html {
    scroll-behavior: smooth;
}
body {
  margin: 0;
}
main {
  margin: 0;
}
@keyframes moveBackground {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 60px 60px;
    }
  }
  @keyframes portfolio-marquee {
    0% { transform: translateX(-100%); }
    100% { transform: translateX(100%); }
  }
