html {
    scroll-behavior: smooth;
}
@keyframes moveBackground {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 60px 60px;
    }
  }
  @keyframes marquee {
    0% { transform: transkateX(0); }
    100% { transform: translateX(-50%); }
  }
