html {
    scroll-behavior: smooth;
}
body {
  margin: 0;
}
main {
  margin: 0;
}
@keyframes moveBackgroundImage {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 60px 60px;
    }
  }
  @keyframes flowyCurves {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  @keyframes portfolio-marquee {
    0% { transform: translateX(-100%); }
    100% { transform: translateX(100%); }
  }
  @keyframes float {
    0% { transform: translateY(-20px); }
    50% { transform: translateY(20px); }
    100% { transform: translateY(-20px); }
}

.circle1 { animation: float 3s ease-in-out infinite; }
.circle2 { animation: float 3s ease-in-out infinite 0.4s; }
.circle3 { animation: float 3s ease-in-out infinite 1.0s; }
.circle4 { animation: float 3s ease-in-out infinite 1.5s; }
.circle5 { animation: float 3s ease-in-out infinite 2.0s; }
.circle6 { animation: float 3s ease-in-out infinite 2.5s; }
.circle7 { animation: float 3s ease-in-out infinite 3.0s; }
.circle8 { animation: float 3s ease-in-out infinite 3.5s; }
